pytorch-lightning==1.2.10
datasets==1.6.2
scikit-learn==0.24.2
hydra-core==1.2.0
omegaconf==2.2.3
hydra_colorlog==1.2.0
onnxruntime
fastapi
uvicorn
dvc
tokenizers==0.10.2
transformers==4.5.1
s3fs==2021.10.0
jmespath==0.10.0
botocore==1.20.106
s3transfer==0.4.2
boto3==1.17.106
aiobotocore==1.4.2
fsspec==2021.10.0